$background: #191765;
$title: #9490ff;

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: $background;
  margin: 0;
}

main {
  padding: 0 1.5rem;
}

hr {
  height: 1px;
  background-color: #646369;
  width: 100%;
  margin: 1.5rem 0;
  border: 0;
}

.flex {
  display: flex;
}

/* Navbar Styles */

.navbar {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 5%;
  font-weight: 500;
  color: #fff;
  background-color: $background;
  border-bottom: 1px $title solid;
  z-index: 1;

  .nav-check {
    position: absolute;
    top: 0.3rem;
    right: 5%;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .menu-icon {
    border-radius: 4px;
    padding: 0.6rem;
    z-index: 1;
    transition: all 0.2s;
  }
}

.sidemenu {
  @extend .flex;
  background-color: $background;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in;

  a {
    transition: all 0.3s ease-in;
    line-height: 1rem;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
  }

  a:hover {
    color: white;
    background-color: #7e7af5;
    transition: all 0.3s ease-in;
  }
}

.nav-check:checked ~ .sidemenu {
  left: 0;
  transition: all 0.6s ease-in;

  a {
    transition: all 0.6s ease-out;
    display: block;
  }
}

/* Header Styles */

.header {
  @extend .flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-title {
  color: #7d73fc;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.second-title {
  color: #edecff;
  font-size: 1.8rem;
}

.description {
  color: #c8c8d4;
  line-height: 1.6rem;
}

.skills {
  @extend .flex;
  flex-wrap: wrap;
}

.skill-item {
  width: 50%;
}

.skills-list {
  list-style: none;
  line-height: 30px;
  font-size: 14px;
  padding: 0 1.2rem;
  color: #f5f5ff;
}

.skills-type {
  color: $title;
  font-size: 130%;
}

.social-media {
  @extend .flex;
  height: 5rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.icons i {
  transition: color 0.3s;
  color: #fff;
  margin: 0 0.8rem;
  font-size: 1.2rem;
}

/* Work Section Styles */

#portfolio,
#contact {
  opacity: 0;
  margin: 0 0 3.8rem;
}

.portfolio {
  article {
    margin-bottom: 3rem;
  }
  
  .work-title {
    color: $title;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}
  
.project-img {
  max-width: 100%;
}

.project-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}

.project-info {
  color: #dcdce8;
  line-height: 1.6rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(30, 23, 80, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  backdrop-filter: blur(3px);

  .project-popup {
    @extend .flex;
    position: absolute;
    top: 12%;
    bottom: 4%;
    left: 8%;
    right: 8%;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    color: #fff;
    border: 1px #fff solid;
    background-color: rgba(228, 228, 228, 0.2);
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 2px;

    .close {
      font-size: 2rem;
      color: inherit;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 1rem;
    }

    h2 {
      margin-top: 0;
    }

    .image-div {
      width: 90%;

      img {
        max-width: 100%;
      }
    }

    .technologies {
      margin: 0;
      width: 80%;
      padding: 0;

    }

    .button {
      margin-top: 1rem;
      
      i {
        margin-left: 0.3rem;
      }
    }
  }
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.technologies {
  @extend .flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 20%;
  color: #fff;
  font-size: 0.7rem;
  margin: 2rem 0 3rem;
}

.button {
  background-color: #7d73fc;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem;
  font-size: 0.8rem;
}

/* Contact section styles */

.contact-title {
  color: $title;
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.contact-info {
  color: #dcdce8;
  text-align: center;
  line-height: 1.5rem;
}

.form {
  @extend .flex;
  height: 15rem;
  flex-direction: column;
  justify-content: space-between;
}

.form input {
  height: 2rem;
  padding: 1rem 0.8rem;
}

.form textarea {
  height: 8rem;
  padding: 0.8rem;
}

.footer {
  margin-top: 3rem;
}

.footer-social-media {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.email {
  color: #f5f5ff;
}

/* Hover Styles */

.button:visited {
  background-color: #5E42D7;
}

.button:hover {
  box-shadow: 0px 5px 16px rgba(125, 115, 252, 0.48);
}

.nav-check:checked + .menu-icon {
  background-color: #7e7af5;
  transition: all 0.2s;
}

.icons i:hover {
  color: #9e9bf8;
  transition: color 0.3s;
}
