* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #191765;
  margin: 0;
}

main {
  padding: 0 1.5rem;
}

hr {
  height: 1px;
  background-color: #646369;
  width: 100%;
  margin: 1.5rem 0;
  border: 0;
}

.flex, .navbar, .sidemenu, .header, .skills, .social-media, .technologies, .form, .footer-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Navbar Styles */
.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 5%;
  font-weight: 500;
  color: #fff;
  background-color: #191765;
  border-bottom: 1px #9490ff solid;
  z-index: 1;
}

.navbar .nav-check {
  position: absolute;
  top: 0.3rem;
  right: 5%;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.navbar .menu-icon {
  border-radius: 4px;
  padding: 0.6rem;
  z-index: 1;
}

.sidemenu {
  background-color: #191765;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.sidemenu a {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  line-height: 1rem;
  padding: 0.6rem;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
}

.sidemenu a:hover {
  color: white;
  background-color: #7e7af5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-check:checked ~ .sidemenu {
  left: 0;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.nav-check:checked ~ .sidemenu a {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  display: block;
}

/* Header Styles */
.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-title {
  color: #7d73fc;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.second-title {
  color: #edecff;
  font-size: 1.8rem;
}

.description {
  color: #c8c8d4;
  line-height: 1.6rem;
}

.skills {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill-item {
  width: 50%;
}

.skills-list {
  list-style: none;
  line-height: 30px;
  font-size: 14px;
  padding: 0 1.2rem;
  color: #f5f5ff;
}

.skills-type {
  color: #9490ff;
  font-size: 130%;
}

.social-media {
  height: 5rem;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.icons i {
  color: #fff;
  margin: 0 0.8rem;
  font-size: 1.2rem;
}

/* Work Section Styles */
#portfolio,
#contact {
  opacity: 0;
  margin: 0 0 3.8rem;
}

.work-title {
  color: #9490ff;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.project-img {
  max-width: 100%;
}

.project-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}

.project-info {
  color: #dcdce8;
  line-height: 1.6rem;
}

.technologies {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20%;
  color: #fff;
  font-size: 0.7rem;
  margin: 2rem 0 3rem;
}

.button {
  background-color: #7d73fc;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem;
  font-size: 0.8rem;
}

/* Contact section styles */
.contact-title {
  color: #9490ff;
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.contact-info {
  color: #dcdce8;
  text-align: center;
  line-height: 1.5rem;
}

.form {
  height: 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form input {
  height: 2rem;
  padding: 1rem 0.8rem;
}

.form textarea {
  height: 8rem;
  padding: 0.8rem;
}

.footer {
  margin-top: 3rem;
}

.footer-social-media {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email {
  color: #f5f5ff;
}

/* Hover Styles */
.nav-check:checked + .menu-icon {
  background-color: #7e7af5;
}
/*# sourceMappingURL=styles.css.map */